$color-base-header-gray: #111312;
$color-base-body-gray: #2a2c2b;
$color-base-overlay-black: #13131381;


$color-base-button-black: #000000;
$color-base-button-highlight: #585858;

$color-base-text-white: #FFFFFF;