@use "../../index.scss" as styles;

.game-image {
   width: 40rem;
   height: 30rem;
}

.game-container {
   padding: 20px;
}

.game-title {
   padding: 10px;
   display: flex;
   place-content: center;
   justify-content: center;
   border-bottom: 3px solid styles.$color-modal-header-black;
}

.game-timeframe {
   padding-bottom: 10px;
   display: flex;
   place-content: center;
   justify-content: center;
}

.game-button-container {
   padding-top: 15px;
   padding-bottom: 40px;
   margin-bottom: 2rem;
   display: flex;
   place-content: center;
   justify-content: center;
   border-bottom: 3px solid styles.$color-modal-header-black;

}

.game-header {
   background-color: styles.$color-modal-header-black;
   padding: 10px;
}

.game-image-container {
   display: flex;
   place-content: center;
   justify-content: center;
}