@use "../../index.scss" as styles;

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100; //z-index to be over the Canvas
    background-color: styles.$color-base-overlay-black;
    display: flex;
    place-content: center;
    justify-content: center;
    padding-top: 150px;
}

.modal {
    width: 100%;
    max-width: 700px;
    height: 600px;
    animation: fadeIn 1.5s;
}

.modal-header {
    display: flex;
    place-content: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: styles.$color-base-header-gray;
    align-items: center;
    padding: 24px 30px;
}

.modal-header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.modal-body {
    height: 90%;
    width: 100%;
    background-color: styles.$color-base-body-gray;
    color: styles.$color-base-text-white;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 6px solid styles.$color-base-button-black;
}


.modal-close-button {
    background-color: styles.$color-base-button-black;

    &:hover {
        cursor: pointer;
        background-color: styles.$color-base-button-highlight;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}